{# app/Resources/views/movie/new.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}

    {#Rendering new movie form #}


    {% if insertResult == 1 %}
        <div class="alert alert-success  in alert-dismissable" style="margin-top:18px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Success!</strong> The new movie has been successfully added.
        </div>
    {% endif %}


    <div id="addNewSection" class="container col-lg-6 hidden">

        <div class="row formRow">
            <div class="text-center col">
                <h4>Add new movie here </h4>
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row ">
            <div class="col formRow">
                {{ form_label(form.title) }}    

            </div>
            <div class="col formRow">
                {{ form_widget(form.title) }}

            </div>
        </div>
        <div class="row">
            <div class="col formRow">
                {{ form_label(form.description) }}

            </div>
            <div class="col formRow">
                {{ form_widget(form.description) }}

            </div>

        </div>
        <div class="row">
            <div class="col formRow">
                {{ form_label(form.duration) }}

            </div>
            <div class="col formRow">
                {{ form_widget(form.duration) }}

            </div>

        </div>
        <div class="row text-right">
            <div class="col text-center  formRow">

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary-green'}}) }}


            </div>
        </div>

        {{ form_end(form) }}
    </div>

    <div class="col-lg-12 text-center" id="AddNewToggleController">
        Add New<br>
        <mark class="unicode" data-char-info="U+25BC: BLACK DOWN-POINTING TRIANGLE" style="color: black;">▼</mark>
    </div>
    <br>
    {#Rendering Movies List   #}

    <div class="container">
        <div class="row col-lg-12 listHeading">
            <div class="col text-uppercase">
                <strong>Title</strong>
            </div>

            <div class="col text-uppercase">
                <strong>Description</strong>
            </div>

            <div class="col text-uppercase">
                <strong>Duration</strong>
            </div>

            <div class="col text-uppercase">
            </div>

        </div>


        {% for movie in allMovies %}
            <div class="row col-lg-12 listRow" refId="{{ movie.id }}">
                <div class="col">
                    {{ movie.title }}
                </div>

                <div class="col">
                    {{ movie.description }}
                </div>


                <div class="col">
                    {{ movie.duration }} min
                </div>

                <div class="col text-center">
                    <div class="deleteMovie orange" refId="{{ movie.id }}">&#10006;</div>
                </div>
            </div>

        {% endfor %}
    </div>



{% endblock %}

