{# app/Resources/views/movie/new.html.twig #}
{% extends '::base.html.twig' %}
{% block body %}


    {% if insertResult == 1 %}
        <div class="alert alert-success  in alert-dismissable" style="margin-top:18px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>Success!</strong> The program has been successfully added.
        </div>
    {% endif %}


    <div id="addNewSection" class="container">

        <div class="row formRow">
            <div class="text-center col">
                <h4>Set new program </h4>
            </div>
        </div>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row formRow">

            <div class="col col-sm-12 col-md-12 col-lg-6">
                <div class="col formRow">
                    {{ form_label(form.movie, 'Movie', {'label_attr': {'class': 'formLabel'}}) }}

                </div>
                <div class="col formRow">
                    {{ form_widget(form.movie, {'attr': {'class': 'formElements'}}) }}

                </div>
            </div>

            <div class="col  col-sm-12 col-md-12 col-lg-6">
                <div class="col formRow">
                    {{ form_label(form.datetime) }}

                </div>
                <div class="col formRow">
                    {{ form_widget(form.datetime) }}

                </div>
            </div>
        </div>

        <div class="row formRow">
            <div class="col text-center col-sm-12 col-md-12 formProgramRow">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary-green'}}) }}

            </div>
        </div>
        </div>

        <hr>

        {{ form_end(form) }}
    </div>

<div id="programWrapper">
    {{ include('program/program.html.twig', { 'programs': programs, 'weekdays':weekdays, 'offset':offset }) }}
</div>

<div id="myModal" class="modal fade"></div>

{% endblock %}

